
.career-img-container img {
    max-height: 240px;
    width: 100%;
    object-fit: cover;
}

.header-container {
    padding: 20px;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.header-text {
    font-weight: bolder;
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin: 8px 0;
}


.resume-btn-box {
    margin-left: auto;
    margin-right: 200px;
}

.resume-btn {
    border-radius: 5px;
}

.job-post-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.job-post-conatiner {
    border: 1px solid rgb(83, 83, 83);
    width: 70%;
    margin-bottom: 50px;
}

.job-list{
    padding: 20px 40px;
    border-bottom:1px solid rgb(84, 84, 84);
    align-self: stretch;
    justify-self: center;
}
                        
.job-list a{
    color: rgb(81, 81, 234);
    font-weight: 600;
}
