
.contact-img-container img {
    max-height: 240px;
    width: 100%;
    object-fit: cover;
}

.header-container {
    padding: 20px;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.header-text {
    font-weight: bolder;
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin: 8px 0;
}

.contact-map-container {
    /* display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 30px 10px; */
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr; */
    align-items: center;
    justify-items: center;
    grid-template-areas: "header header  header  header"
                         "map    map   location location"
                         "map    map   location location";
}

.enquiry-btn-box{
    grid-area: header;
    grid-column: 3/5;
}

.enquiry-btn {
    border-radius: 5px;
}

.map-section {
    padding: 20px;
    grid-area: map;
}

.address-box {
    box-shadow: 0px 10px 22px -3px rgba(0,0,0,0.1);
    border-radius: 15px;
    grid-area: location;
    max-width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-evenly;
    padding: 20px;
}

.address-box h2 {
    color: red;
}

.cmp-name {
    font-size: 24px;
    font-weight: bold;
}

.address-box-links {
    text-align: center;
}

 /* FORM SECTION */

.form {
    width: 350px;
}