* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar {
    position: sticky;
    /* or absolute */
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.logo img {
    width: 160px;
    height: 60px;
}

.nav-bar-ul li {
    display: inline-block;
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: black;
}

.nav-bar-ul li :hover {
    padding: 10px;
    border-top: 5px solid #4285f4;
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* .nav-bar-links {
    display: grid;
    grid-template-columns: 1fr;
} */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    /* margin: 20px; */
}


.teams-img-container img {
    height: 240px;
    width: 100%;
}

.header-container {
    padding: 20px;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.header-text {
    font-weight: bolder;
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin: 8px 0;
}

.overview-container {
    padding: 24px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid whitesmoke;
}

.overview-text-container {
    padding: 16px;
}

.overview-text {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
}

.model-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 30px;
}

.model-box {
    width: 90%;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.model-box img {
    width: 70%;
    height: fit-content;
    padding: 10px;
    margin: 10px;
}

.model-box h3 {
    text-align: center;
    padding: 10px;
}

.model-box p {
    text-align: justify;
}

section h2 {
    text-align: center;
    padding: 20px;
}

.team-engagement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: center;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid whitesmoke;
    background-color: #ddd;
}

.team-card img {
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.team-card p {
    line-height: 28px;
    padding: 20px;
    text-align: justify;
}

.red-text {
    color: red;
}

.testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

figure {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
}

figure img {
    width: 30%;
}

blockquote {
    text-align: justify;
    padding-right: 16px;
    padding-bottom: 16px;
}

figure:hover {
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

figcaption h4 {
    text-align: center;
}

/* ---FOOTER---- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.92);
    color: white;
    padding: 30px 0;
}

.footer-nav-bar-links ul {
    line-height: 2;
    padding: 24px;
    font-weight: 600;
    margin-left: 60px;
}

.footer-nav-bar-links ul li a {
    color: white;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
}

.footer-contact p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contact-links a {
    color: white;
    padding-right: 10px;
}